/*
 * This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * Adaptable Messages style sheet
 *
 * @package    theme_adaptable
 * @copyright  2019 G J Barnard - {@link http://moodle.org/user/profile.php?id=442195}
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 *
 */

@media screen and (min-width: 768px) {
    /* M3.6 */
    .message-drawer,
    .message-drawer .btn,
    .message-drawer .btn a,
    .message-drawer .form-control,
    /* M3.7 */
    .message-app.drawer,
    .message-app.drawer .btn,
    .message-app.drawer .btn a,
    .message-app.drawer .form-control {
        font-size: 105%;
    }

    /* M3.6 */
    .message-drawer .btn,
    /* M3.7 */
    .message-app.drawer .btn {
        height: auto;
    }

    .message-drawer, /* M3.6 */
    .message-app.drawer { /* M3.7 */
        width: 400px;
    }

    .message-drawer.hidden, /* M3.6 */
    .message-app.drawer.hidden { /* M3.7 */
        right: -400px;
    }
}

[data-region='message-drawer'] [data-region='view-overview'] .input-group .input-group-text {
    border-radius: 25px 0 0 25px;
}

[data-region='message-drawer'] [data-region='view-overview'] .input-group [data-region='view-overview-search-input'] {
    border-radius: 0 25px 25px 0;
}

[data-region='message-drawer'] [data-region='search-input'] {
    border-radius: 25px;
    margin-right: 4px;
}

[data-region='message-drawer'] [data-region='header-container'] [data-region='contact-request-count'] {
    color: #fff;
}

[data-region='message-drawer'] [data-region='header-container'] [data-region='contact-request-count'],
[data-region='message-drawer'] [data-region='body-container'] [data-region='section-unread-count'],
[data-region='message-drawer'] [data-region='body-container'] [data-region='unread-count'] {
    background-color: red !important;
    border-radius: 25px;
    height: 25px;
}

[data-region='message-drawer'] [data-region='body-container'] [data-region='last-message-date'] {
    padding-top: 0.1rem !important;
}

[data-region='message-drawer'] [data-region='body-container'] .btn-link {
    background-color: #fff;
    border-radius: 0;
    color: inherit !important;
}

[data-region='message-drawer'] [data-region='body-container'] .btn-link:hover {
    color: #fff !important;
}
[data-region='message-drawer'] [data-region='content-messages-footer-container'] .btn-link {
    display: flex;
    padding: 1px 1px 0 0 !important;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}