{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_adaptable/adaptable_admin_setting_configtemplate

    Template which defines the preview bit of the adaptable_admin_setting_configtemplate admin setting.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * templatepreview
    * templateoverridden

    Example context (json):
    {
        "templatepreview": HTML,
        "templateoverridden": true
    }
}}
<h3>{{#templateoverridden}}{{#str}}overriddentemplatepreview, theme_adaptable{{/str}}{{/templateoverridden}}{{^templateoverridden}}{{#str}}originaltemplatepreview, theme_adaptable{{/str}}{{/templateoverridden}}</h3>
<div class="jumbotron">
    {{{templatepreview}}}
</div>